.buttons__container{
    display: flex;
    flex-direction: column;
    
}

@media(max-width:475px){
    .buttons__container{
        display: flex;
        flex-direction: column;
        gap: 1.4rem;
    }
    

}