.user__container {
  max-width: 90rem;
  margin: auto;
  height: 7rem;
  display: flex;
  justify-content: space-between;
  padding-inline: 4rem;
  align-items: center;
}

.main__container {
  border-top: 1px solid var(--color-gray-200);
}

.container__line{
  border-bottom: 1px solid var(--color-gray-200);
}

.main__contains {
  max-width: 90rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-block: 2rem;
  padding-inline: 4rem;
}

@media (max-width: 475px) {
  .user__container {
    flex-direction: column;
    justify-content: center;
    align-items: self-start;
    gap: 1rem;
    padding-inline: 1rem;
    p{
      text-align: end;
    }
    h1{
      text-align: start;
    }
  }
.main__container{
  padding-inline: 1rem;
}
  .main__contains {
    padding-inline: 1rem;
  
  }
 
}
