:root{
   --font-primary: 'Inter', sans-serif;
   
    --color-primary:#FF577F;
    --color-primary-focus:#FF427F;
    --color-primary-negative:#59323F;

    --color-gray-400:#121214;
    --color-gray-300:#212529;
    --color-gray-200:#343B41;  
    --color-gray-100:#868E96;
    --color-gray-000:#F8F9FA;

    --color-sucess:#3FE864;
    --color-negative:#E83F5B;


}