.input {
  background-color: var(--color-gray-200);
  color: var(--color-gray-100);
  border: none;
  border-radius: 0.25rem; 
  height: 3rem;
  width: 100%;
  padding:1rem ;
  margin-top: 1.4rem;
  margin-bottom: 1rem;

  &:focus-visible {
    
    color: var(--color-gray-000);
    outline: 1.2px solid var(--color-gray-000);
  }

  &:hover{
    outline: 1.2px solid var(--color-gray-000);
  }
}
