@import url(../../styles/index.scss);

.container{
    display: flex;
    margin: auto;
    flex-direction: column;
    max-width: 23rem;
    gap: 1.38rem;
    margin-block: 2rem;
      
}

.container>img{
    width: 7.6rem;
}

.header__container{
    display: flex;
    justify-content: space-between;
    margin-block: 2.5rem;
}

